original-data/
processed-data/
sample-data/
migrate/
node_modules/

sql/

.env

customize.pgsql
test.pgsql
update.pgsql
run-update.sh
import-data.sh
/example.env

package.json

package-lock.json
.DS_Store