original-data/
processed-data/
sample-data/
import/
node_modules/

sql/
local/
original-import-script/
one-off-scripts/
clone-db/.env

customize.pgsql
test.pgsql
update.pgsql
run-update.sh
import-data.sh
/example.env

package.json

package-lock.json
.DS_Store
.env
datascrub
clone-db/tmp/epubtest.pgsql
